*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.5vh;
}

#links{
    display: flex;
    margin-right: 2vw;
}

ul{
    font-size: .9rem;
    margin-left: 2vw;
}

a{
    text-decoration: none;
    color: #404040;
}

main{
    height: 87vh;
}